{:gui {:width 300 :height 500}
 :timers [{:name "Tea" :init "3m" :sound "fire-alarm"}
          {:name "Nap" :init "22m" :sound "horn"}
          {:name "Standing" :init "30m" :sound "analog-watch"}
          {:name "Custom" :init "" :sound "bomb-siren" :custom true}]}
